<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>about-us</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--<link rel='stylesheet' type='text/css' media='screen' href='main.css'>-->
    
</head>
<body>
    <h1>Lorem</h1>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore commodi, natus illum unde blanditiis id veritatis alias doloribus assumenda rerum praesentium esse quisquam, quas, distinctio non consectetur ratione. Molestias, architecto!</p>
    {% for titre in titre %}
    <li> {{ titre.name }} </li>
    {% endfor %}
</body>
</html>