<html>
    {% extends 'affichage/base.html' %}
    {% block content %}
    <header>
        
            <h3>Cartographie</h3>
            <hr>
        <div class="container_map">
            
        </div>
    </header>
    <body>
        <div class="grid" >
            <div class="item" >
                <h3>eau de surface + nombre de prelevement</h3>
                <hr>
                {{m2 |safe}}</div>
            <div class="item" >
                <h3>eau de surface + nappesousterraine</h3>
                <hr>
                {{m2 |safe}}</div>
        </div>
    </body>

    {% endblock %}
</html> 