<!DOCTYPE html>

    {% extends 'affichage/base.html' %}

    {% block content %}
    <body>
        
    
    
    <header>
        <h1>recherche</h1>
        
        
    </header>
    
        <section class="page">
            <h4> {{ band.name }} </h4>
        <ul>
            <li>genre : {{ band.get_genre_display }} </li>
            <li>Année : {{ band.year_formed }} </li>
            <li>Actif : {{ band.active|yesno }} </li>
            {% if band.official_homepage %}
            <li><a href="{{ band.official_homepage }}"></a>{{ band.official_homepage }} </li>
            {% endif %}
        </ul>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, necessitatibus minus vero <br> deleniti dolores quae vitae excepturi praesentium exercitationem quidem quaerat ullam alias dicta. Iste delectus magnam labore ducimus doloremque!,lo</p>
                <a href="{% url 'band-list' %}">Retour a tous les groupes</a>         
        </section>
     
        <footer>
            <h5> <a href="contact us/"></a></h5>
            <div class="colones">
                <div class="colone">
                    <p>exemple_01</p>
                    <p>exemple_02</p>
                    <p>exemple_03</p>
                </div>
                <div class="colone"> 
                 <p>exemple_01</p>
                 <p>exemple_02</p>
                 <p>exemple_03</p>
                </div>
                <div class="colone"> 
                 <p>exemple_01</p>
                 <p>exemple_02</p>
                 <p>exemple_03</p>
                </div>
        
            </div>
        </footer>

</body>

    
    {% endblock %}
    
    

    


</html>