<!DOCTYPE html>

    {% extends 'affichage/base.html' %}

    {% block content %}
    <body>
        
    
    
    <header>
        <h1>recherche</h1>
        {% for band in bands %}
        <li><a href=" {% url 'bands_list_d' band.id %} ">{{ band.name }}</a></li>
        {% endfor %}
    </header>
    
        <section class="page">
            <p>mes groupe de models:
                <ul>
                    {% for band in bands %}
            
                   <li> {{ band.name | upper }}</li>
                    {% endfor %}
                </ul>
                
                </p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, necessitatibus minus vero <br> deleniti dolores quae vitae excepturi praesentium exercitationem quidem quaerat ullam alias dicta. Iste delectus magnam labore ducimus doloremque!,lo</p>
             
        </section>
     
        <footer>
            <h5> <a href="contact us/"></a></h5>
            <div class="colones">
                <div class="colone">
                    <p>exemple_01</p>
                    <p>exemple_02</p>
                    <p>exemple_03</p>
                </div>
                <div class="colone"> 
                 <p>exemple_01</p>
                 <p>exemple_02</p>
                 <p>exemple_03</p>
                </div>
                <div class="colone"> 
                 <p>exemple_01</p>
                 <p>exemple_02</p>
                 <p>exemple_03</p>
                </div>
        
            </div>
        </footer>

</body>

    
    {% endblock %}
    
    

    


</html>