{% load static %}


<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>affichage</title>
        <meta charset='utf-8'>
        
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" href="{% static 'affichage/style.css' %}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!--<link rel='stylesheet' type='text/css' media='screen' href='main.css'>-->
        
    </head>
    <nav>
        <div class="onglets">
            <a href="{% url 'index' %}">Accueil</a>
            <a href="{% url 'contact' %}">contactez-nous</a>
        </div>
        <div class="buttons">
            <a href="{% url 'band-list' %}"><button > test</button></a>
            <a href="{% url 'presentation' %}"><button>Map</button></a>
        </div>
    </nav>
        {% block content %} 

        {% endblock %}
        <footer>
            <h5> <a href="contact us/"></a></h5>
            <div class="colones">
                <div class="colone">
                    <p>exemple_01</p>
                    <p>exemple_02</p>
                    <p>exemple_03</p>
                </div>
                <div class="colone"> 
                 <p>exemple_01</p>
                 <p>exemple_02</p>
                 <p>exemple_03</p>
                </div>
                <div class="colone"> 
                 <p>exemple_01</p>
                 <p>exemple_02</p>
                 <p>exemple_03</p>
                </div>
        
            </div>
        </footer>
</html>