<!DOCTYPE html>
<html>
    {% extends 'affichage/base.html' %}

    {% block content %}
    <h1> Hello world</h1>
    <hr>
    <p>mes groupe de models:
    <ul>
        {% for band in bands %}

       <li> {{ band.name | upper }}</li>
        {% endfor %}
    </ul>
    </p>
    {% endblock %}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, necessitatibus minus vero deleniti dolores quae vitae excepturi praesentium exercitationem quidem quaerat ullam alias dicta. Iste delectus magnam labore ducimus doloremque!</p>
    

    


</html>