<!DOCTYPE html>

    {% extends 'affichage/base.html' %}

    {% block content %}
    <body>
        
    
    
    <header>
        <H1>Recherche</H1>
        <div id="rolling_bar">
            <form action="{% url 'recherche' %}" method=POST>
                {% csrf_token %}
                <select name="recherche_page" id=""> 
                    {% for i in ville %}
                    <option value=" {{i}} "> {{i}}</option>
                    {% endfor %}
                    
                </select>
                <button id="btn" type="submit" >on va mettre une image mdr</button>
                
               <!-- <input type="text" id="txt" placeholder="Saisir nom ville ou date "name='recherche_page'>-->
            
             
                

            
        </form>
      
          </div>
    </header>
    
        <section class="page">
            
        </section>


</body>

    
    {% endblock %}
    
    

    


</html>