<!DOCTYPE html>
<html>
    {% extends 'affichage/base.html' %}

    {% block content %}
    
    <header>
        <h1>recherche</h1>
    </header>
    <p>mes groupe de models:
    <ul>
        {% for band in bands %}

       <li> {{ band.name | upper }}</li>
        {% endfor %}
    </ul>
    </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, necessitatibus minus vero deleniti dolores quae vitae excepturi praesentium exercitationem quidem quaerat ullam alias dicta. Iste delectus magnam labore ducimus doloremque!</p>
    <ul>
        <a href="about-us">,aboutus</a>
    </ul>
    
    {% endblock %}
    
    

    


</html>