<html>
    {% extends 'affichage/new_base.html' %}
    {% block content %}
    
<body >

    <div class="container">
      <div class="row justify-content-between">
      {% if data %}
        <div class="justify-content-center ">
          <h1 class="text-white">Page de recherche. . . {{ data }} </h1>
        </div>

      
      
      {% else %}
      <h1>Aucune recherche faite</h1>
      {% endif %}
      <hr>
      {% for villes in ville %}
          <p>  </p>
      {% endfor %}
      </div>
    </div>
    <div class="container text-center">
      
      {% if tab1 %}<a href="../upload_csv1/{{id}}/" class="btn btn-primary"> Download csv tab1</a>{% endif %}
      {% if tab2 %}<a href="../upload_csv2/{{id}}/" class="btn btn-primary"> Download csv tab2 </a>{% endif %}
      {% if tab3 %}<a href="../upload_csv3/{{id}}/" class="btn btn-primary"> Download csv tab3</a>{% endif %}
      <a href="../upload/{{id_pdf}}/{{id}}/" class="btn btn-primary"> Download pdf</a>
    </div>
    
{% if tab2 %}
        <div class="container">
          <h2 class="text-center"><u>tableau hubeau</u></h2><br>
          <table border="2" bgcolor="blue" class="table table-dark table-striped">
            <thead>
              <tr>
                <th>lieux surveillé</th>
                <th>logitude</th>
                <th>latitude</th>
                <th>Profondeur</th>
                <th>nom masse d'eau</th>
                <th>donnée</th>
              </tr>
            </thead>
            <tbody>

            {% for i in tab2 %}

              <tr>
                <td>{{i.libelle_lieusurv}}</td>
                <td>{{i.longitude}}</td>
                <td>{{i.latitude}}</td>
                <td>{{i.prof_lieusurv}}</td>
                <td>{{i.noms_masses_eau}}</td>
                <td>{{i.noms_taxons_suivis}}</td>

              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        {% endif %}
        {% if tab1 %}
        <div class="container">
          <h2 class="text-center"><u>tableau hubeau</u></h2><br>
          <table border="2" bgcolor="blue" class="table table-dark table-striped">
            <thead>
              <tr>
                <th>Code station</th>
                <th>nom</th>
                <th>nom_producteur</th>
                <th>donnée</th>
              </tr>
            </thead>
            <tbody>

            {% for i in tab1 %}

              <tr>
                <td>{{i.libelle_parametre}}</td>
                <td>{{i.libelle_station}}</td>
                <td>{{i.nom_producteur}}</td>
                <td>{{i.}}</td>

              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        {% endif %}
        {% if tab3 %}
        <div class="container">
          <h2 class="text-center"><u>tableau hubeau</u></h2><br>
          <table border="2" bgcolor="blue" class="table table-dark table-striped">
            <thead>
              <tr>
                <th>Code station</th>
                <th>nom</th>
                <th>nom_producteur</th>
                <th>donnée</th>
              </tr>
            </thead>
            <tbody>

            {% for i in tab3 %}

              <tr>
                <td>{{i.libelle_parametre}}</td>
                <td>{{i.libelle_station}}</td>
                <td>{{i.nom_producteur}}</td>
                <td>{{i.}}</td>

              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        {% endif %}
    
</body>
    {% endblock %}
    
</html>