<html>
    {% extends 'affichage/base.html' %}
    {% block content %}
    
<body>
    <header>
    {% if data %}
    <h1>Page de recherche. . . {{ data }} </h1>
    {% else %}
    <h1>Aucune recherche faite</h1>
    {% endif %}
    <hr>
    {% for villes in ville %}
        <p> {{ villes | upper }} </p>
    {% endfor %}
    <table>
        {% for element,gg in JSON.items %}

          {% for item in gg.items %}
          
          <p>{{y|get_value:item.Stat}}</p>
        {% endfor %}
        {%endfor%}
    
    </header>

</body>
    {% endblock %}
</html>