<html>
    {% extends 'affichage/new_base.html' %}
    {% block content %}
    
<body >

    <div class="container">
      <div class="row justify-content-between">
      {% if data %}
        <div class="justify-content-center ">
          <h1 class="text-white">Page de recherche. . . {{ data }} </h1>
        </div>

      
      
      {% else %}
      <h1>Aucune recherche faite</h1>
      {% endif %}
      <hr>
      {% for villes in ville %}
          <p>  </p>
      {% endfor %}
      </div>
    </div>
    
{% if tab1 %}
        <div class="container">
          <h2 class="text-center"><u>tableau hubeau</u></h2><br>
          <table border="2" bgcolor="blue" class="table table-dark table-striped">
            <thead>
              <tr>
                <th>Code station</th>
                <th>nom</th>
                <th>nom_producteur</th>
                <th>donnée</th>
              </tr>
            </thead>
            <tbody>

            {% for i in tab1 %}

              <tr>
                <td>{{i.libelle_parametre}}</td>
                <td>{{i.libelle_station}}</td>
                <td>{{i.nom_producteur}}</td>
                <td>{{i.}}</td>

              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        {% endif %}
        {% if tab2 %}
        <div class="container">
          <h2 class="text-center"><u>tableau hubeau</u></h2><br>
          <table border="2" bgcolor="blue" class="table table-dark table-striped">
            <thead>
              <tr>
                <th>Code station</th>
                <th>nom</th>
                <th>nom_producteur</th>
                <th>donnée</th>
              </tr>
            </thead>
            <tbody>

            {% for i in tab2 %}

              <tr>
                <td>{{i.libelle_parametre}}</td>
                <td>{{i.libelle_station}}</td>
                <td>{{i.nom_producteur}}</td>
                <td>{{i.}}</td>

              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        {% endif %}
        {% if tab3 %}
        <div class="container">
          <h2 class="text-center"><u>tableau hubeau</u></h2><br>
          <table border="2" bgcolor="blue" class="table table-dark table-striped">
            <thead>
              <tr>
                <th>Code station</th>
                <th>nom</th>
                <th>nom_producteur</th>
                <th>donnée</th>
              </tr>
            </thead>
            <tbody>

            {% for i in tab3 %}

              <tr>
                <td>{{i.libelle_parametre}}</td>
                <td>{{i.libelle_station}}</td>
                <td>{{i.nom_producteur}}</td>
                <td>{{i.}}</td>

              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        {% endif %}
    
</body>
    {% endblock %}
    
</html>