<html>
    {% extends 'affichage/new_base.html' %}
    {% block content %}
    <header>
        
            <h3>Tableau</h3>
            <hr>
        <div class="container_map">
            
        </div>
    </header>
    <body>
        <!-- <p>{{l}}</p> -->
        <section>
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <canvas id="barCanvas" role="img"></canvas>
                </div>
            </div>
        </div>
        </section>
        
   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% load static %}
        <script src="{% static 'affichage/graph.js' %}" ></script >
            <script type="text/javascript"> 
                var a = "{{l}}";
                a=a.split("/");
                console.log(a);
                 var b = "{{n}}";
                b=b.split("/");
                console.log(b);
             </script>
        <script>
            
            graphique(a,b);
        </script>
        <section>
            <form action="../../graphMol/{{id}}/" method=POST>
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-light">voir graph des molécules séléctioné</button>
                    </div>

                </div>
                
                
            </div>
            <div class="container-fluid">
                <fieldset class="container">
                    <legend class="text-light">Radios</legend>
                    <div class="row">
                        {%for molecule in molecules%}  
                        
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{molecule}}" id="gridRadios1" value="1" >
                                <label class="form-check-label text-light" for="gridRadios1">{{molecule}}</label>
                            </div> 
                        </div>
                        </label>
                        {%endfor%}
                        </div>
                    </div>
                </fieldset>
                
            </div>
        </form>
        </section>
        
    </body>

    {% endblock %}
</html> 