<html>
    {% extends 'affichage/base.html' %}
    {% block content %}
    <header>
        
            <h3>Tableau</h3>
            <hr>
        <div class="container_map">
            
        </div>
    </header>
    <body>
  
        <div class="container">
          <h2 class="text-center"><u>tableau hubeau</u></h2><br>            
          <table border="2" bgcolor="blue" class="table table-dark table-striped">
            <thead>
              <tr>
                <th>Code station</th>
                <th>nom</th>
                <th>nom_producteur</th>
                <th>longitude</th>
              </tr>
            </thead>
            <tbody>
            
            {% if d %}  
            {% for i in d %}
           
              <tr>
                <td>{{i.code_station}}</td>
                <td>{{i.libelle_station}}</td>
                <td>{{i.nom_producteur}}</td>
                <td>{{i.longitude}}</td>
                
              </tr>
            {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
          
        </body>

    {% endblock %}
</html> 