<html>
    {% extends 'affichage/new_base.html' %}
    {% block content %}
    <header>
        
            <h3>Tableau</h3>
            <hr>
        <div class="container_map">
            
        </div>
    </header>
    <body>
        <!-- <p>{{l}}</p> -->
        <input type="text" placeholder={{l}} id="in">
        <input type="text" placeholder={{n}} id="iN">
        <canvas id="barCanvas" role="img"></canvas>   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% load static %}
<script src="{% static 'affichage/graph.js' %}" ></script >
   
    <script>
        var input = document.getElementById("in").value;
        var input2 = document.getElementById("iN").value;
        const myArray = input.split(",");
        const myArray2 = input2.split(",");        
        console.log(typeof(myArray));
        var l =0;
        graphique(l,myArray2);
    </script>
    </body>

    {% endblock %}
</html> 