body{
    background-color: darkslategray;
}
.ligne{
    padding: 20px;
}

header{
    background-color: rgb(48, 42, 42);
    position: sticky;
    z-index: 2;
}
.formauth{
    margin: 0px;
    padding: 100px;
    
    border-radius: 20px;
    background-color: darkslategray;
}