body{
    /* background-color: darkslategray; */
    background: linear-gradient(180deg,darkslategray,white);
}
.ligne{
    padding: 20px;
}

header{
    background-color: rgb(48, 42, 42);
    position: sticky;
    z-index: 2;
}
.formauth{
    margin: 0px;
    padding: 150px;
    
    border-radius: 20px;
    
}